.container {
  max-width: 1000px;
  margin: 0 auto;
}

.nav-header-container {
  width: 50%;
}

.nav-header {
  font-family: "Passion One", cursive;
  color: #e50958;
  font-size: 48px;
  font-weight: 700;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links-container {
  display: flex;
  justify-content: end;
  width: 50%;
}

.nav-links {
  flex: 1;
  display: flex;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  color: #ebebeb;
  font-size: 16px;
  font-weight: 600;
}

.nav-sub-link {
  margin-right: 50px;
}

.nav-btn {
  padding: 0 30px;
  border: 1px solid rgba(255, 255, 255, 0.58);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  color: #ebebeb;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
